@import url("https://fonts.googleapis.com/css?family=Caveat:,400,700|Hind:400,700|Lato:100,300");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #371B6E;
  font-size: 20px;
  font-family: "Hind", sans-serif;
  color:#EBE8F0;
  line-height: 1;
}
 
.content-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}

.content-container > div {
  padding: 16px;
  text-align: center;
}

.ios-popup {
  position: fixed;
  width: 80%;
  right: 0;
  left: 0;
  bottom: 16px;
  margin: auto;
  visibility: hidden;
  
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  color: #371B6E;
  font-size: 12px;
  line-height: 20px;
  text-align: center;

  opacity:0;
  transition: opacity 0.5s linear;
}

.ios-popup > span:first-of-type {
  font-weight: bold;
  font-size: 16px;
}

small {
  font-style: italic;
  color:#9B8DB7;
}

@media (min-width: 700px) {
  body{
    font-size: 30px;
  }
}
